<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Register successed</title>
</head>
<body>
	<p>
		Dear #name# ,
		Thank you for register at <a href="www.namplus.com.vn">www.namplus.com.vn</a> !
	</p>
	<p>		
		Username : #username#
	</p>
	<p>
		Password : #password#
	</p>
	<p>		
		Note: Please change pass for the first time you go with us!
	</p>
	<p>
		Thank you,
		<br />
		NAMPlus
	</p>
</body>
</html>